<mat-toolbar style="background-color:#2087C5;">
    <mat-toolbar-row>
     <button mat-icon-button (click)="toggleSideBar()" style="color:white">
         <mat-icon>menu</mat-icon>
     </button>
     <span style="padding-left: 8px;color:white"></span> <mat-icon hidden style="padding-left: 18px;color:white">autorenew</mat-icon>
     <div fxFLex fxLayout="row"  fxFlex fxLayoutAlign="end" class="pt-3">
         <ul fxLayout="row" fxLayoutGap="20px" >
            <li>
                 <button mat-icon-button>
                    <mat-icon style="color:white">settings</mat-icon>
                 </button>
             </li>
             <li>
                <button mat-icon-button>
                   <mat-icon style="color:white">help_outline</mat-icon>
                </button>
            </li>
            <li >
                <button mat-icon-button [matMenuTriggerFor]="notifications" >
                    <mat-icon style="color:white;">notifications</mat-icon>
                    <div class="notify">
                        <span class="heartbit"></span>
                        <span class="point"></span>
                    </div>
                </button>

                <mat-menu #notifications="matMenu">
                    <mat-list>
                        <div mat-subheader>Notificaciones</div>
                        <mat-list-item *ngFor="let folder of folders">
                          <mat-icon matListItemIcon>folder</mat-icon>
                          <div matListItemTitle>{{folder.name}}</div>
                          <div matListItemLine>{{folder.updated | date}}</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <div mat-subheader>Notas</div>
                        <mat-list-item *ngFor="let note of notes">
                          <mat-icon matListItemIcon>notes</mat-icon>
                          <div matListItemTitle>{{note.name}}</div>
                          <div matListItemLine>{{note.updated | date}}</div>
                        </mat-list-item>
                      </mat-list>
                </mat-menu>
            </li>
            <li >
                
                <button mat-button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="color:white">supervised_user_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="d-flex no-block align-items-center p-3 mb-0 ">
                        <div class=""><img src="../../../../assets/img/usuario.png" alt="user" class="rounded-circle" width="60"></div>
                        <div class="ms-2">
                            <h4 class="mb-0" id="usuario-nombre">Carlos Perez</h4>
                            <p class=" mb-0" style="color: blue;" id="usuario-email">cperez@laytaruma.com</p>
                        </div>
                    </div>
                    <hr>
                    <button mat-menu-item (click)="CerrarSesion()" style="width:100%;" >
                        <mat-icon style="color:#E15639">exit_to_app</mat-icon>
                        Cerrar Sesión
                    </button>
                </mat-menu>
            </li>
         </ul>
     </div>
    </mat-toolbar-row>
</mat-toolbar> 