<mat-nav-list>
    <div class="profile-card">
 
        <img src="../../../../assets/img/cambios2.png" alt="Soufiane FADIL">
               <div class="header">
            <h2 style="color:#17699c;">Gestión de Cambios</h2>
        </div>
    </div>
    <mat-divider>      
    </mat-divider>

    <h2 matSubheader>Módulos</h2>

    <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Mantenimiento</span>
        <mat-icon mat-list-icon>settings</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/dashboard"><mat-icon >work</mat-icon>Repositorio</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/metadato"><mat-icon>subtitles</mat-icon>Metadato</a>
    </div>
</mat-nav-list>